body {
    display: grid;
    grid-template-columns: 150px 1fr 100px;
}

#left-sidebar {
    background: blue;
}

#center-window {
    background: pink;
    display: grid;
    grid-template-rows: 20% 80%;
}

#right-sidebar {
    background: magenta;
}
