body {
    display: grid;
    grid-template-columns: 150px 1fr 100px;
}

#left-sidebar {
    background: blue;
}

#center-window {
    background: pink;
    display: grid;
    grid-template-rows: 20% 80%;
}

#center-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cb-left {
    display: grid;
    grid-template-rows: 25% 30% 45%;
}

#community {
    background: red;
}

#services {
    background: pink;
}

#discussion-forums {
    background: yellow;
}

#cb-center {
    display: grid;
    grid-template-rows: 30% 70%;
}

#housing {
    background: blue;
}

#for-sale {
    background: orange;
}

#cb-right {
    display: grid;
    grid-template-rows: 70% 30%;
}

#jobs {
    background: red;
}

#gigs {
    background: yellow;
}

#right-sidebar {
    background: magenta;
}
